---
import Layout from "@/layouts/Layout.astro";

import Nav from "@/components/navigation/Nav.astro";
import TopBar from "@/components/layout/TopBar.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don"t want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<TopBar>
		<Nav>
			<section class="flex items-center gap-x-4">
				<!-- Responsive menu button -->
				<button aria-label="Toggle menu" class="md:hidden">
					<span class="icon">menu</span>
				</button>
				<a href="/" class="flex items-center gap-x-2">
					<img src="/logo.svg" alt="Logo" />
					<span>ByteBeat</span>
				</a>
			</section>
			<section class="hidden md:flex grow items-center justify-end gap-x-4">
				<a href="/test1">Test1</a>
				<a href="/test2">Test2</a>
				<a href="/test3">Test3</a>
				<a href="/test4">Test4</a>
			</section>
		</Nav>
	</TopBar>

	<aside class="w-md flex flex-col px-2 p-4 gap-y-4">
		<button class="p-2 w-full bg-sky-500 rounded-lg">Test</button>
		<button class="p-2 w-full bg-sky-500 rounded-lg">Test</button>
	</aside>

	<main role="main" class="flex flex-col items-center justify-center">
		<!-- start slipsum code -->

		<p>
			Normally, both your asses would be dead as fucking fried chicken, but you
			happen to pull this shit while I'm in a transitional period so I don't
			wanna kill you, I wanna help you. But I can't give you this case, it don't
			belong to me. Besides, I've already been through too much shit this
			morning over this case to hand it over to your dumb ass.
		</p>

		<!-- end slipsum code -->
	</main>
</Layout>

<style>
	@reference "@/style/index.css";
</style>
