---
import astroLogo from "@/assets/astro.svg";
import background from "@/assets/background.svg";
---

<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>
		<section id="hero">
			<h1>Website in construction</h1>
			<p>We are working on something amazing! Stay tuned!</p>
		</section>
	</main>
</div>

<style>
	@reference "@/style/index.css";

	#background {
		@apply fixed top-0 left-0 w-full h-full -z-1;
	}

	#container {
		@apply h-full;
	}

	main {
		@apply h-full flex justify-center;
	}

	#hero {
		@apply p-4 flex flex-col items-start justify-center;
	}

	h1 {
		@apply text-4xl mt-2;
	}

	p {
		@apply m-0 text-xl mt-2 text-zinc-700 dark:text-zinc-300;
	}
</style>
